{% form_theme form _self %}

{% block happyr_birthday_widget %}
    {% spaceless %}
        <div class="happyr_brithday_widget" {{ block('widget_container_attributes') }}>

            {{ form_errors(form.date) }}
            {{ form_errors(form.year) }}
            {{ form_widget(form.year) }}
            {{ form_widget(form.date.month) }}
            {{ form_widget(form.date.day) }}
        </div>
    {% endspaceless %}
{% endblock %}
